/* universal styles */
* {
  font-family: "Open Sans", sans-serif;
  /* font-size: 20px; */
}
/* header styles */
header,
.about {
  background-color: #fff8f3;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 230px;
}
nav h3 {
  color: #181818;
  font-weight: 800;
  font-size: 45px;
}
#i-style {
  color: #fd6e0a;
}
.menu {
  display: flex;
  align-items: center;
}
.menu li {
  list-style: none;
  font-size: 20px;
}
.menu li a {
  text-decoration: none;
  color: #474747;
  margin-right: 50px;
}
.btn-primary {
  border-radius: 5px;
  border-style: none;
  background-color: #fd6e0a;
  color: white;
  font-weight: bold;
  padding: 18px 35px;
  font-size: 20px;
}
/* Banner styles  */
.banner {
  display: flex;
  justify-content: space-between;
  gap: 160px;
  align-items: center;
  padding: 0 0 0 230px;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner h3 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin: 0;
}
.banner h1 {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin: 5px 0 20px;
}
.banner p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.btn-secondary {
  border-radius: 5px;
  border-color: #fd6e0a;
  /* background-color: #fd6e0a; */
  color: #fd6e0a;
  font-weight: bold;
  padding: 18px 35px;
  font-size: 20px;
  margin-left: 30px;
}
.profile-pic {
  max-width: 584px;
  max-height: 676px;
  /* margin-top: -676px; */
  margin-right: 40px;
}
/* main section styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about section styles */
.about {
  text-align: center;
  margin: 130px 0;
  padding: 130px 155px;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-desc {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
}
.about-info-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.info-title {
  font-size: 20px;
  font-weight: 400;
  color: #757575;
  margin: 30px 0 0 0;
}
.info-desc {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #474747;
}
